---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <p>Multiplatform SDK implementation for wowza APIs
                <p>wowza.io should work with most wowza standard installations.
                <h4>Implementations</h4>
    |           <p>* PHP (Working progress)</p>
                <p>* Python (Coming next)</p>
                <p>* .Net (Nice to have)</p>
            <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>Technologies</h4>
                <p>wowza.io uses the following projects/softwares without having any direct relation with them:</p>
                <p>* Mustache "The logic-less template manager" <https://mustache.github.io/></p>
                <p>* Wowza Media Systems "The pro-grade service for live streaming" <https://www.wowza.com/></p>
                <p>* Flowplayer "Video player for the web" <https://flowplayer.org/></p>
                    <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <h4>Functionalities</h4>
                <p>* Create plain live application.</p>
                <p>* Create secured live application.</p>
                <p>* Delete live application.</p>
                <p>* Delete all live applications.</p>
                <p>* Get live applications list.</p>
                <p>* Get live application configuration.</p>
                <h2>Support the repo by starring or forking it!</h2>
                </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>Quality Theme</h4>
                <p>* Create plain live application.</p>
                <p>* Create secured live application.</p>
                <p>* Delete live application.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>		 				
        </div>
    </div><! --/container -->
</div><! --/service -->

<!--{% include portfolio.html title="LATEST WORKS" limit=10 %}-->

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Agency.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div><! --/row -->
</div><! --/container -->
