---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <p>Multiplatform SDK implementation for wowza APIs
                <p>wowza.io should work with most wowza standard installations.
                <h4>Implementations</h4>
                <p>* PHP (Working progress)</p>
                <p>* Python (Coming next)</p>
                <p>* .Net (Nice to have)</p>
             </div>
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>Technologies</h4>
                <p>wowza.io uses the following projects/softwares without having any direct relation with them:</p>
                <p>* Mustache "The logic-less template manager" <https://mustache.github.io/></p>
                <p>* Wowza Media Systems "The pro-grade service for live streaming" <https://www.wowza.com/></p>
                <p>* Flowplayer "Video player for the web" <https://flowplayer.org/></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>Functionalities</h4>
                <p>* Create plain live application.</p>
                <p>* Create secured live application.</p>
                <p>* Delete live application.</p>
                <p>* Delete all live applications.</p>
                <p>* Get live applications list.</p>
                <p>* Get live application configuration.</p>
                <h4>Support the repo by starring or forking it!</h4>
                </div>
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <h4>Quality Theme</h4>
                <p>* Create plain live application.</p>
                <p>* Create secured live application.</p>
                <p>* Delete live application.</p>
            </div>	
              <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>That is Wowza? </h4>
                <p>It is a streaming technology to transmit audio and video signals over the Internet both live and delayed worldwide via the Internet, with low costs.</p>
                <p>Developed on a platform technology that allows you to deliver to the audience fixed or mobile live signal, consistent and high quality.</p>
            </div>	
        </div>
    </div>
     <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>Wowza to try?</h4>
                <p>Provide the hearing fixed or mobile live signal, consistent and high quality.</p>
                <p>Your listeners will hear anywhere in the world from your computer either; Windows / iOS / Linux, any browser or mobile device; Tablets, Smartphones.</p>
            </div>	
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <h4>Why Use Wowza?</h4>
                <p>It is a platform itself, servers, human resources, software and more.</p>
                <p>Easy management of your streaming.</p>
                <p>Streaming quality transmissions.</p>
             </div>
             <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>Benefits</h4>
                <p>Best software and hardware available to ensure the stability that its streaming service needs.</p>
                <p>Opportunity to interact</p>
                <p>Can be played on any platform. No need to install extra buttons. You can listen to radio from any platform. The mobile platforms like: Android, iOS, WindowsPhone.</p>
             </div>	
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>Potential Users</h4>
                <p>Designed for all types of users projects, from small to the most professional instructors who do not want limitations.</p>
             </div>	
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <h4>Scope</h4>
                <p>Transmission of messages by a large audience, different target.</p>
                <p>Reach a large group of people, in any geographic location, in order to transmit any type of event.</p>
             </div>	
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>Why it is open source?</h4>
                <p>Execution of the program for any purpose.</p>
                <p>Opportunity to study how the program works and adapt it to your needs.</p>
                <p>Ability to improve the program and release your improvements to the public, for the benefit of the community.</p>
                <p>No additional costs in purchasing licenses.</p>
            </div>	
        </div>
    </div><! --/container -->
</div><! --/service -->
<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Agency.</h4>
            <div class="hline"></div>
            <p>{{ site.about }}</p>
        </div>
        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>
        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>
    </div><! --/row -->
</div><! --/container -->
