<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>The lower you fall, the higher you'll fly</h3>
                <h5>Where’s your will to be weird?</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
               <!-- <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive"> -->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
